@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.licious{
  background: rgb(255, 245, 234);
}

header{
  height: 80px;
  width: 100%;
  background-color: rgb(249, 197, 85);
  font-family: "Fredoka", sans-serif;
}

/*  */


.recipe-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  background-color: rgb(255, 240, 197);
}

.recipe-prompt input{
  width: 80%;
  border: 1px solid rgb(204, 203, 201);
  padding: 20px;
  border-radius: 12px;
}

.recipe-prompt button{
  width: 20%;
  background-color: rgb(254, 160, 36);
  border: 3px solid rgb(255, 145, 0);
  border-radius: 12px;
}

input, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

/*  */

.recipes-content{
  margin: 40px 80px;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

.recipe-info {
  margin: 20px 0;
  height: 450px;
  background-image: url("./assets/food-wallpaper.jpg"); 
  background-size: cover; /* Makes the image cover the entire area */
  background-color: rgba(0, 0, 0, 0.682); /* Adds a semi-transparent black overlay */
  background-blend-mode: overlay; /* Blends the image with the background color */
  border-radius: 20px 20px 0px 0px;
  padding: 50px;
}


.recipe-info h3{
  color: white;
  margin-top: 30px;
  font-family: Plus Jakarta Sans;
  font-size: 35px;
  font-weight: 600;
  line-height: 49px;
  text-align: left;
}

.recipe-info img{
  height: 350px;
  width: auto;
  margin: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.recipe-info h5{
  color: white;
  font-family: "Fredoka", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 38.78px;
  text-align: left;
  width: 90%;
}

.recipe-points{
  width: 100%;
}

.recipe-points p{
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 38.78px;
  margin: 10px;
}

.recipe-desc-section{
  /* background-color: brown; */
  padding: 20px;
}

.recipe-desc-section ul, ol{
  padding: 40px;
  /* background-color: aqua; */
}

.recipe-desc-section li{
  /* background-color: blueviolet; */
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin:10px 0;
  color: #00000080;
}

.ingridients-content, .steps-content{
  width: 40%;
  padding: 50px 30px;
  border-radius: 20px;
  margin-top: 20px;
}

.ingridients-content{
  background-color: rgb(220, 220, 220);
}

.steps-content{
  background-color: rgb(247, 218, 150);

}

.recipe-desc-section h5{
  font-family: Plus Jakarta Sans;
  font-size: 38px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  margin: 0px 20px;
}

/* Extra */

.bcg-blue{
  background-color: blue;
}

.h-full{
  height: 100%;
}

.w-full{
  width: 100%;
}